body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #c0c0c0 ;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
}

#navbar a {
    color: #000000;
    text-decoration: none;
    margin-right: 20px;
}

#navbar a.active {
    background-color: #555;
    border-radius: 5px;
}

#user-info {
    display: flex;
    align-items: center;
}

#user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

main {
    padding: 20px;
}

h2 {
    color: #333;
}

.catalog-table {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 15px;
}

/* Estilo para los botones */
.catalog-buttons {
    margin-bottom: 20px;
}

.catalog-buttons button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.catalog-buttons button:hover {
    background-color: #555;
}

/* Resto de estilos... */
/* Estilo para los títulos de la tabla */
.catalog-table th, .catalog-table td {
    font-size: 18px; /* Aumentamos el tamaño del texto */
    color: #333; /* Color del texto */
}

/* Estilo para el texto de la tabla */
.catalog-table td {
    font-weight: normal; /* Quitamos la negrita */
    color: #555; /* Color del texto */
}

/* Estilo para los títulos de la tabla */
.catalog-table th {
    background-color: #f2f2f2; /* Cambiamos el color de fondo */
    text-transform: uppercase; /* Convertimos el texto a mayúsculas */
}

#saco, #pantalon, #chaleco, #accesorios {
    font-weight: bold; /* Añadimos negrita */
    color: #8a0000; /* Color del texto */
}

/* Estilo para el checkbox */
.catalog-table input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
}

/* Estilo del checkbox cuando está marcado */
.catalog-table input[type="checkbox"]:checked {
    background-color: #555;
}

/* Estilo del indicador (marcado) del checkbox */
.catalog-table input[type="checkbox"]::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 2px;
    position: relative;
    top: 3px;
    left: 3px;
    visibility: hidden;
}

/* Estilo del indicador cuando el checkbox está marcado */
.catalog-table input[type="checkbox"]:checked::after {
    visibility: visible;
}
/*///////////////////////////////////*/
.programar-renta-button {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px auto; /* auto para centrar horizontalmente, 20px para el margen superior e inferior */
    display: block; /* Asegura que el botón se muestre como un bloque para aplicar el margen horizontal automáticamente */
}

.programar-renta-button:hover {
    background-color: #575757;
}

.map-iframe {
    width: 500px;
    height: 200px;
}


